{% extends "base.html" %}
{% block content %}

<div class="container mt-3">
    <div class="row row-cols-md-3 g-4">
        {% for project in projects %}
            <div class="col">
                <div class="card border-secondary h-100 mb-3">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title">{{ project.name }}</h5>
                        <div class="icon ms-auto">
                            <a href="{% url 'project_update' project.pk %}" class="btn btn-outline-warning"><i class="bi bi-pencil-square fs-6"></i></a>
                            <a href="{% url 'project_delete' project.pk %}" class="btn btn-outline-warning"><i class="bi bi-trash3 fs-6"></i></a>
                        </div>
                    </div>
                    <div class="card-body text-secondary d-flex flex-column">
                        <p>Описание: {{ project.description }}</p>
                        <p>Дата начала: {{ project.start_date }}</p>
                        <p>Дата окончания: {{ project.end_date|default:"Не указана" }}</p>
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'project_detail' project.pk %}" class="card-link">
                                Подробнее
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Проекты не найдены</p>
        {% endfor %}
    </div>
</div>

{% endblock %}