{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
<div class="card my-5">
    <div class="card-header fs-4 text-center py-3">Создать проект</div>
    <div class="card-body">
        <form method="POST">
            {% include "partial/project_form.html" %}
            <div class="d-flex justify-content-end gap-2 mt-3">
                <a href="{% url 'project_list' %}" class="btn btn-outline-secondary btn-sm">Отмена</a>
                <button type="submit" class="btn btn-primary btn-sm">Сохранить</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}